body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#sidebar {
    width: 200px;
    background-color: #000; /* Black */
    color: #FFD700; /* Gold */
    padding: 10px;
    height: 100vh;
    position: fixed;
    left: -200px; /* Hide sidebar initially */
    transition: left 0.3s;
    z-index: 1000;
    border-radius: 10px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    margin: 10px 0;
}

#sidebar a {
    color: #FFD700; /* Gold */
    text-decoration: none;
}

#hamburger-menu {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFD700; /* Gold */
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

#hamburger-menu span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000; /* Black */
    margin: 3px 0;
    transition: all 0.3s;
}

.open #sidebar {
    left: 0;
}

.open #content {
    margin-left: 200px;
}

.open #hamburger-menu span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.open #hamburger-menu span:nth-child(2) {
    opacity: 0;
}

.open #hamburger-menu span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#content {
    margin-left: 0;
    padding: 20px;
    flex-grow: 1;
    margin-top: 50px;
}

.class-section {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-bar {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.review-section {
    margin-top: 20px;
}

.review-section h3 {
    margin-bottom: 10px;
}

.review-section form {
    display: flex;
    flex-direction: column;
}

.review-section input,
.review-section textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.review-section button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000; /* Black */
    color: #FFD700; /* Gold */
    cursor: pointer;
    transition: background-color 0.3s;
}

.review-section button:hover {
    background-color: #444; /* Darker Black */
}

.review {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.review p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
    }
    .open #content {
        margin-left: 0;
    }
}
